data/sample_info.csv
data/CRISPR_gene_effect.csv
data/CCLE_gene_cn.csv
data/CRISPR_gene_dependency.csv
data/CCLE_wes_gene_cn.csv
data/CCLE_mutations.csv
data/CCLE_expression.csv
**/.ipynb_checkpoints/
.DS_Store
